.main{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: rgb(199, 196, 196);
    height: 50%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.box h2{
    font-size: 20px;

}

@media screen and (max-width:550px){
    .box{
        width: 90vw;
    }
    .box h2{
        font-size: 1.2rem;
    
    }
}